body{
    background-image: linear-gradient(to left, #2af598 0%, #1dc5e9 100%);
}

.centro {
    text-align: center;
}

.borda {
    border-radius: 10px;
}

.roxo {
    background-image: linear-gradient(to left, #899FD4 0%, #A389D4 100%);
  }

  .azul {
    background-image: linear-gradient(to left, #049DF5 0%, #04A9F5 100%);
  }

  .verde {
    background-image: linear-gradient(to left, #2782d1 0%, #3db2bb 100%);
  }

  /*.verde {
    background-image: linear-gradient(to left, #1DC5E9 0%, #1DE986 100%);
  }*/

  
  .laranja {
    background-image: linear-gradient(to left, #F44236 0%, #F5C228 100%);
  }
/*.slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}*/